@font-face {
    font-family: MadeOuterSansBold;
    src: url(./static/fonts/MADEOuterSansBold.otf);
}

@font-face {
    font-family: ObjectSansHeavy;
    src: url(./static/fonts/ObjectSans-Heavy.otf);
}

@font-face {
    font-family: ObjectSans;
    src: url(./static/fonts/ObjectSans-Regular.otf);
}

html {
    background: linear-gradient(10deg, rgba(2, 2, 2, 1) 0%, rgba(48, 48, 48, 1) 100%) no-repeat;
    min-height: 100vh;
    justify-content: center;
    display: flex;
	scroll-behavior: smooth;
}

body {
    max-width: 1200px;
    padding: 0 5vw;
}

h1,
h4,
h3 {
    font-family: ObjectSansHeavy;
    color: white;
}

p {
    font-family: ObjectSans;
    color: #b5b5b5;
}

h1 span {
    color: #b5b5b5;
}

#heading {
    display: flex;
}

#heading #left {
    flex: 1;
    background-image: url(./static/images/background_01.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#heading #right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#heading #introduction {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 10vh 0 5vh 0;
}

#heading #introduction p {
    padding-left: 20px;
}

#heading p,
#heading h1 {
    text-align: right;
}

#car_image {
    width: 110%;
}

#pieces_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pieces_item {
    text-align: center;
    margin: 0 1%;
}

nav {
    margin: 30px 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: right;
    text-align: center;
}

.nav_item {
    font-family: MadeOuterSansBold;
    letter-spacing: 1px;
    margin: 0px 3%;
    font-size: 14px;
    color: white;
    transition: 300ms;
    cursor: pointer;
    text-decoration: none;
}

.nav_item:hover {
    transition: 300ms;
    color: #f96912;
}

button {
    cursor: pointer;
    font-family: MadeOuterSansBold;
    letter-spacing: 1px;
    font-size: 14px;
    outline: none;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    transition: 500ms;
}

.secondary_button {
    background-color: transparent;
    border: 2px solid white;
    color: white;
}

.primary_button {
    border: 2px solid #f96912;
    background-color: #f96912;
    color: #303030;
    padding: 12px 30px;
    margin: 10px;
}

button:hover {
    transition: 500ms;
    border-color: #f96912;
    background-color: transparent;
    color: #f96912;
}

#shipping {
    width: 70%;
}

#logo {
    display: none;
}

#pieces {
    margin: 10vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pieces #pieces_introduction {
    width: 60%;
    text-align: center;
    margin-bottom: 2vh;
}

#pieces_list {
    width: 90%;
    max-width: 900px;
}

#conditions {
    background-color: #303030;
    border-radius: 35px;
    padding: 4% 2%;
}

#conditions h1 {
    text-align: center;
}

.conditions_item {
    height: 395px;
    max-width: 270px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 30px;
    margin: 0 1vw;
    margin-bottom: 1vh;
    background-repeat: no-repeat;
    background-size: contain;
}

#truck {
    background-image: url(./static/images/truck.png);
}
#card {
    background-image: url(./static/images/credit_card.png);
}
#box {
    background-image: url(./static/images/box.png);
}

#conditions_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.conditions_item h3 {
    margin: 0;
}

#brands {
    margin: 10vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#brands h1 {
    width: 60%;
    text-align: center;
    margin-bottom: 2vh;
}

#brands span {
    color: #f96912;
}

#brands_list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
}

hr {
    border-color: #7c7c7c;
    height: 0.5px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

footer > div {
    display: flex;
    align-items: center;
}

footer span {
    color: white;
    font-family: MadeOuterSansBold;
}

footer p {
    font-size: 0.8em;
}

@media only screen and (max-width: 950px) {
    h1 {
        font-size: 1.5em;
    }

    h4 {
        font-size: 0.8em;
    }

    p {
        font-size: 0.9em;
    }

    body {
        padding: 0;
    }

    #heading {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    #heading #introduction {
        padding: 0 10vw;
        justify-content: center;
        align-items: center;
        margin: 2vh 0;
    }

    #heading #right {
        justify-content: center;
        align-items: center;
    }

    #heading #left {
        min-height: 50vh;
        margin: 2vh 0;
    }

    #heading p,
    #heading h1 {
        text-align: center;
    }

    nav {
        justify-content: center;
    }

    #logo {
        display: flex;
        margin-bottom: 2vh;
    }

    #shipping {
        width: 60%;
        max-width: 300px;
    }

    #car_image {
        width: 90%;
    }

    #pieces {
        margin: 5vh 0;
    }
}

@media only screen and (max-width: 600px) {
    footer {
        flex-direction: column;
    }
}

@media only screen and (max-width: 460px) {
    #whats_button {
        display: none;
    }

    #nav_item {
        font-size: 10px;
    }

    .pieces_item,
    .pieces_item img {
        width: 50%;
        margin: 0;
    }

    footer div {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
}

